/*universal/asterisk selector: selects all elements in an HTML document*/
* {
    margin: 0%;
    padding:0%;
}

body {
    font-family: 'Lato', sans-serif;
}
.primary-btn {
    border-radius: 8px;
    background: #E55473;
    padding: 10px 25px;
    border:none;
    color:white;
}

/*style banner section*/
.banner-container {
    height: 850px;
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.banner-container-content {
    margin:0px 0px 0px 150px
}
.banner-container-content-title {
    font-size:65px;
    font-weight: 800px;
}
.banner-container-content-desc {
    padding: 20px 0px 20px 0px;
}
.banner-container-image img {
    max-width: 550px;
    margin:0px 150px 0px 0px
}

/*style Featured Flowers section */
.featured-container {
    height:70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.featured-container-title {
    text-align: center;
    font-size: 30px;
    font-weight: 800;
}
.featured-container-desc {
    text-align: center;
    padding:10px 0px 10px 0px;
}
.flowers-container {
    display: flex;
    justify-content:center;
    gap:10px;
    margin-top:10px;
}
.featured-flower {
    margin-right:2px;
}
.featured-flower,.featured-flower-desc {
    text-align: center;
}
.flower-card-one {
    width:245px;
    height: 275px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
.flower-card-two {
    width:245px;
    height: 275px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);}
.flower-card-three {
    width:245px;
    height: 275px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);}
.flower1 {
    width: 160px;
    margin:55px; 
}
.flower2 {
    width: 220px;
    margin:30px;
}
.flower3 {
    width: 160px;
    margin:35px;  
}

/*style icon section */
.icon-section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-container {
    /* background: rgba(39, 39, 39, 0.05); */
    padding:50px;
}
.icon-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.card {
    background: rgba(39, 39, 39, 0.05);
    padding: 40px 30px;
    text-align: center;
}
.icon {
    width:50px;
}

/*style Hot Deal Section*/ 
.hot-deal-container {
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(229, 84, 115, 0.05);
    padding:0px 200px;
}
.hot-deal-container-content {
    text-align: center;
}
.hot-deal-container-content-title{
    font-weight: bold;
}
.hot-deal-container-content-desc {
    padding: 10px 10px;
}
.hot-deal-container-container-image {
    width:200px;
}

/* Style Instagram section*/

.insta-container{
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.insta-title {
    text-align: center;
    font-weight: 800;
}
.insta-desc {
    text-align: center;
    padding:20px 0px;
}
.insta-photos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.photo {
    width:180px;
}

/*style subscribe section*/
.subscribe-container {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}
.subscribe-bg-photo {
    height: 35vh;
    background-image: url("Flower Asset/Rectangle 9.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    text-align: center;
    width:900px;
}
.bg-photo-child {
    padding: 100px 
}
.child-desc {
    padding:10px 10px
}
.child-input {
    border: none;
    padding:10px 200px 10px 20px;
    border-radius: 8px;
    margin-right: 5px;
}

/*style footer section */
.footer-container {
    height:40vh;
    background: #111010;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
.footer-child {
    color:white;
    text-align: center;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: c;
}
.footer-child-desc {
    padding:10px 10px;
    color: rgba(255, 255, 255, 0.90);
    font-size: 13px;

}
.footer-child-copyright {
    color: rgba(255, 255, 255, 0.40);
    font-size: 13px;

}